@import './font-face.css';

.breadcrumbs__item:not(:last-child):after {
  background: var(--ifm-breadcrumb-separator) center;
  content: ' ';
  display: inline-block;
  filter: var(--ifm-breadcrumb-separator-filter);
  height: calc(
    var(--ifm-breadcrumb-separator-size) * var(--ifm-breadcrumb-size-multiplier) *
      var(--ifm-breadcrumb-separator-size-multiplier)
  );
  margin: 0 0.5rem;
  opacity: 0.5;
  width: calc(
    var(--ifm-breadcrumb-separator-size) * var(--ifm-breadcrumb-size-multiplier) *
      var(--ifm-breadcrumb-separator-size-multiplier)
  );
}

/* font-face pixels */
@font-face {
  font-display: swap;
  font-family: pixels;
  font-style: normal;
  font-weight: 400;
  src: url(https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff2?v=11)
      format('woff2'),
    url(https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff?v=11)
      format('woff');
}

/* colors */
:root {
  --ifm-color-primary: #fccf31;
  --ifm-color-success: #36ab88;
  --ifm-color-info: #368fab;
  --ifm-color-warning: #aba336;
  --ifm-color-danger: #ab3e36;
  --ifm-color-gray-0: #fff;
  --ifm-color-gray-100: #f7f9fd;
  --ifm-color-gray-200: #e7edf9;
  --ifm-color-gray-300: #d7e1f4;
  --ifm-color-gray-400: #a9b8d6;
  --ifm-color-gray-500: #8f9ebc;
  --ifm-color-gray-600: #6c7993;
  --ifm-color-gray-700: #435270;
  --ifm-color-gray-800: #2d333b;
  --ifm-color-gray-900: #444c56;
  --ifm-color-gray-1000: #272c35;
  --ifm-color-gray-2000: #272c35;
  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-color-active: var(--ifm-color-emphasis-1000);
  --ifm-navbar-item-padding-horizontal: 1.5rem;
  --ifm-navbar-link-color: var(--ifm-color-emphasis-600);
  --ifm-navbar-link-hover-color: var(--ifm-menu-color-active);
  --ifm-navbar-padding-horizontal: 1.5rem;
  --ifm-navbar-shadow: none;
  --doc-sidebar-width: 300px;
  --doc-sidebar-hidden-width: 30px;
  --ifm-border-color: var(--ifm-color-gray-900);
  --ifm-subtitle-color: var(--ifm-color-gray-800);
}

html[data-theme='dark'] {
  --ifm-background-surface-color: var(--ifm-color-gray-2000);
}

/* wrapper */
.main-wrapper {
  background-color: var(--ifm-color-gray-1000);
}

/* code block */
div[class^='codeBlockTitle'] {
  background-color: var(--ifm-subtitle-color);
}

.theme-code-block-highlighted-line {
  background-color: var(--ifm-color-gray-2000) !important;
  box-shadow: inset 3px 0 var(--ifm-color-success-dark);
}

.prism-code {
  background-color: var(--ifm-color-gray-1000);
}

.theme-code-block {
  border: solid 1px var(--ifm-border-color);
  font-size: 0.75rem;
}

.code-block-add-line {
  background-color: #00ff0020;
  border-left: 3px solid #00ff0080;
  display: block;
  margin: 0 calc(var(--ifm-pre-padding) * -1);
  padding: 0 var(--ifm-pre-padding);

  span[class*='codeLineContent'] {
    box-shadow: inset 3px 0 #00ff00b0;
  }
}
.code-block-update-line {
  background-color: #e6a70020;
  border-left: 3px solid #e6a700b0;
  display: block;
  margin: 0 calc(var(--ifm-pre-padding) * -1);
  padding: 0 var(--ifm-pre-padding);

  span[class*='codeLineContent'] {
    box-shadow: inset 3px 0 #e6a700b0;
  }
}
.code-block-remove-line {
  background-color: #ff000020;
  border-left: 3px solid #ff000080;
  display: block;
  margin: 0 calc(var(--ifm-pre-padding) * -1);
  padding: 0 var(--ifm-pre-padding);
  span[class*='codeLineContent'] {
    box-shadow: inset 3px 0 #940000;
  }
}

/* footer */
.footer--dark {
  --ifm-footer-background-color: var(--ifm-background-surface-color);
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--ifm-scrollbar-track-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--ifm-scrollbar-thumb-background-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ifm-scrollbar-thumb-hover-background-color);
}

/* navbar font-family */
.navbar__item {
  font-family: pixels;
  font-weight: normal;
  line-height: 0.9rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* iframe */
.iframe-container {
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* image zoom */
.medium-zoom-overlay {
  backdrop-filter: blur(4px);
}

.medium-zoom-image.medium-zoom-image--opened {
  box-shadow: #00000033 0 0 12px;
}

/* navbar */
nav.navbar::after {
  left: 0;
  right: 0;
  height: 1px;
  z-index: 1;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  display: block;
  content: '';
}

/* footer */
footer.footer {
  position: relative;
  &::before {
    left: 0;
    right: 0;
    height: 1px;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.16);
    display: block;
    content: '';
  }
}
